html, body, div {
	border: 0px;
	padding: 0px;
}

* {
	margin: 0px;
}

body {
	background-color: black;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

#canvas, #controls-container {
	position: absolute;
}
#canvas {
	left: 0px;
}
#controls-container {
	overflow-y: scroll;
	right: 0px;
}
#controls {
	padding: 5px;
}
#controls .row {
	width: 100%;
	margin-bottom: 10px;
}

#controls .row > * {
	float: left;
	margin-right: 10px;
}

#controls .row > *:last-child {
	margin-right: 0px;
}

#controls .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#controls .control label {
	color: #fff;
	display: block;
	text-align: right;
	width: 80px;
	line-height: 20px;
}

#controls .control .tooltip {
	display: none;
}

#controls .control input, #controls .control select {
	width: 150px;
	height: 20px;
	padding: 0px;
	border: 0px;
}

#controls .control input[type="checkbox"] {
	width: auto;
	height: auto;
	margin-top: 4px;
}

#controls .control textarea {
	width: 150px;
	height: 150px;
}

#controls .control.slider input {
	width: 30px;
}

#controls .control.slider > div {
	width: 100px;
	margin-top: 3px;
}

#controls .control.color > div {
	width: 148px;
	height: 18px;
	cursor: pointer;
	border: 1px solid white;
}

#controls .row button {
	width: 100%;
	height: 30px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

code {
	background-color: #eee;
	padding: 2px;
	margin: 2px;
}